body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: url(imagen/espacio.jpg) center center ;
    background-size: cover;
    color: white;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.container {
    width: 80%;
    max-width: 1200px;
}
.content-box {
    background: rgba(0, 0, 0, 0.7);
    padding: 30px;
    border-radius: 10px;
    width: 50%;
}
h1 {
    font-size: 36px;
    font-weight: bold;
}
p {
    font-size: 16px;
    margin-top: 10px;
}
.button {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background: #00d1ff;
    color: black;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}
.info-boxes {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    background: rgba(0, 0, 0, 0.7);
    padding: 15px;
    border-radius: 10px;
}
.info-box {
    width: 23%;
    text-align: center;
}